{% extends 'base.html.twig' %}

{% block title %}Liste des membres du Club de la Mer{% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <p> Nous sommes actuellement {{ tabNbMember.0 }} adhérents au Club de la Mer</p>
        <img style="width:75px; height:75px;" src="/pictures/divinglogo.jpg">
        <button type="button" class="btn btn-success" ><a href={{ path("admin_index") }}>Retour</a></button>
    </div>
    <div>
        <button type="button" class="btn btn-success" ><a href={{ path("members_create") }}>Créer un nouvel adhérent</a></button>
    </div>

    <div class="container bg-white" >
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Prénom</td>
                    <td>Nom</td>
                    <td>Pseudo</td>
                    <td>Niveau</td>
                    <td>Encadrant</td>
                    <td>Téléphone</td>
                    <td>Tél. Urgence</td>
                    <td>Email</td>
                    <td>Ville</td>
                    <td>Modifier</td>
                    <td>Supprimer</td>

                </tr>
            </thead>

            {% for member in members %}
                <tbody>
                    <tr>
                        <td>{{ member.name }}</td>
                        <td>{{ member.firstName }}</td>
                        <td>{{ member.userName }}</td>
                        <td>{{ member.levelDive }}</td>
                        <td>{{ member.instructor }}</td>
                        <td>{{ member.phone1 }}</td>
                        <td>{{ member.phone2 }}</td>
                        <td>{{ member.mail}}</td>
                        <td>{{ member.city }}</td>
                        <td><a href="{{path('member_edit', {'pseudo': member.pseudo}) }}">Modifier</a></td>
                        <td><a href="{{path('member_delete', {'pseudo': member.pseudo}) }}">Supprimer</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>



{% endblock %}
