{% extends 'base.html.twig' %}

{% block title %}Liste des adhérents du Club de la Mer{% endblock %}

{% block body %}

    <div class="container mt-2 mb-5 text-secondary">
        <h2>Liste des adhérents</h2>
    </div>
    <div class="container mb-3 text-secondary">
        <p> Nous sommes actuellement {{ total }} adhérents au Club de la Mer</p>
    </div>

    <div class="container bg-white text-secondary" >
        <table class="table table-striped">
            <thead class="">
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Niveau</th>
                    <th scope="col">Encadrant</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Tél. Urgence</th>
                    <th scope="col">Email</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                    <th scope="col">Solde Ticket</th>
                </tr>
            </thead>

            {% for member in members %}
                <tbody>
                    <tr scope="row">
                        <td>{{ member.name }}</td>
                        <td>{{ member.firstName }}</td>
                        <td>{{ member.levelDive }}</td>
                        <td>{{ member.instructor }}</td>
                        <td>{{ member.phone1 }}</td>
                        <td>{{ member.phone2 }}</td>
                        <td>{{ member.mail}}</td>
                        <td><a class="btn btn-warning btn  mt-2" href="{{path('member_edit', {'pseudo': member.pseudo}) }}">Modifier</a></td>
                        <td><a class="btn btn-danger btn  mt-2" onclick="return confirm(`Etes vous sur de vouloir supprimer cet adhérant : {{ member.pseudo }} ?`)" href="{{path('member_delete', {'pseudo': member.pseudo}) }}"><img style="width:25px; height:25px;" src="/pictures/bin.png"></a></td>
                        {% if member.ticketDive > 0 %}
                            <td class="font-weight-bold">{{ member.ticketDive}}</td>
                        {% else %}
                            <td class="font-weight-bold text-danger">{{ member.ticketDive}}</td>
                        {% endif %}
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if page ==1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('members_index', {'page':page -1}) }}">&laquo;</a>
                </li>
                {% for i in 1..pages %}
                    <li class="page-item {% if page == i%} active {% endif %}">
                        <a class="page-link" href="{{ path('members_index', {'page':i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('members_index', {'page': page +1}) }}">&raquo;</a>
                </li>
            </ul>
          </div>
        </div>
        <div class=" container mt-5">
        </div>
{% endblock %}
