{% extends 'base.html.twig'%}

{% block title %}Création d'un adhérent{% endblock %}

{% block body %}

    <div class="container mb-3 mt-3 text-secondary">
        <h2>Créer un nouvel adhérent</h2>
    </div>
    <div class="container text-secondary">
        {{ form_start(form) }}
        <div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="col-auto  mb-3 mt-2">
                        {{ form_widget(form.pseudo) }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2">
                        Date de naissance:
                        {{ form_widget(form.birthdayDate) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        Genre:
                        {{ form_widget(form.sex) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        Niveau de plongée:
                       {{ form_widget(form.levelDive) }}
                    </div>
                    <div class="col-auto  mb-3 mt-2">
                        Niveau Moniteur
                        {{ form_widget(form.instructor) }}
                    </div>
                </div>
            </div>
            <div class="col-auto mb-3 mt-2">
                {{ form_widget(form.mail) }}
            </div>
            <div class="col-auto mb-3 mt-2">
                {{ form_widget(form.address) }}
            </div>
            <div class="container ">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.cp, {'attr':{'class':'form-control','placeholder': 'Code Postal'}}) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.city) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.phone1) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.phone2) }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2">
                        N° de license:
                        {{ form_widget(form.numLicense) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.boatLicense) }}
                    </div>
                    <div class="col-auto  mb-3 mt-2">
                        Tickets de plongée payé
                        {{ form_widget(form.ticketDive) }}
                    </div>
                    <div class="col-auto  mb-3 mt-2">
                        Mot de passe
                        {{ form_widget(form.password) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-auto  mb-3 mt-2">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}