{% extends 'base.html.twig' %}

{% block title %}Mon planning{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-auto mr-auto align-middle">

                <h4 class="mt-3 ">Bonjour {{app.user.pseudo}}</h4>
            </div>
            <div class="col-auto">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse align-middle" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link text-white " href="javascript:history.go(-1)">Retour</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white " href={{ path('diving_listeDiving') }}>Liste des plongées</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white " href={{ path('message') }}>J'ai une question !</a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link text-warning" href={{ path('admin_index') }}>Menu ADMINISTRATEUR</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link text-warning " href={{ path('account_logout') }}>Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-auto mb-2">
                <img style="width:75px; height:75px;" src="/pictures/logodiving.gif">
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Mon planning</h2>
        <div class="alert alert-info mt-5">
            <h3>Retrouver toute vos réservations passées et à venir</h3>
        </div>

        {% for reservation in reservations %}
                <div class="container border mb-3 mt-3">
                    <div class="row">
                        <div class="col-sm mt-3">
                            <p>Le: {{ reservation.date|date('d/m/Y') }}</p>
                        </div>
                        <div class="col-sm mt-3">
                            <p>A:  {{ reservation.location }}</p>
                        </div>
                        <div class="col-sm mt-3">
                            <p>Plongée n°: {{ reservation.idD }}</p>
                        </div>
                        <div class="col-sm mt-2 mb-2">
                            <a class="btn btn-danger " href="{{path('reservation_delete', {'id': reservation.id}) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
    {% block footer %}
        <div class="container">
            <div class="col align-self-end  align-items-end row justify-content-md-center">
                <div class="row align-items-center">
                    <div class="col-auto ">
                        <p>Copyright  -   2019    -    Pierre BOUCHET</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

