{% extends 'base.html.twig' %}

{% block title %}Modification d'un adhérent{% endblock %}

{% block body %}
    <div class="container mb-3 mt-3 text-secondary">
        <h2>Modifier mes infos perso</h2>
    </div>
    <div class="container bg-white text-secondary dive">
        {{ form_start(form) }}
        <div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="col-auto  mb-3 mt-2">
                        {{ form_widget(form.pseudo) }}
                    </div>
                </div>
            </div>
            <div class="col-auto mb-3 mt-2">
                {{ form_widget(form.mail) }}
            </div>
            <div class="col-auto mb-3 mt-2">
                {{ form_widget(form.address) }}
            </div>
            <div class="container ">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.cp, {'attr':{'class':'form-control','placeholder': 'Code Postal'}}) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.city) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.phone1) }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        {{ form_widget(form.phone2) }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2">
                        Permis bateau:
                        {{ form_widget(form.boatLicense) }}
                    </div>
                </div>
            </div>
            <div class="col-auto  mb-3 mt-2">
                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}