{% extends 'base.html.twig' %}

{% block title %}Liste des plongées du Club de la Mer{% endblock %}

{% block body %}

    <div class="container mt-2 mb-5 text-secondary">
        <h2>Liste des plongées</h2>
    </div>

    <div class="container text-secondary">
        <p>Il y a actuellement {{ tabNbDiving.0 }} plongées programmées</p>
    </div>
    <div class="container " >
        {% for diving in diving %}
            <div class="container bg-white text-secondary dive border border-secondary mb-5 mt-5 ">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2 font-weight-bold" style="font-size:1.2em;">
                        Date:   {{ diving.date|date('d/m/Y') }}
                    </div>
                    <div class="col-auto mb-3 mt-2 font-weight-bold" style="font-size:1.2em;">
                        Plongée n° :  {{ diving.id }}
                    </div>
                    <div class="col-auto  mb-3 mt-2 font-weight-bold" style="font-size:1.2em;">
                        Lieu:   {{ diving.location }}
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto mb-2 font-weight-bold" style="font-size:1.2em;">
                        Niveau minimum:   {{ diving.levelMin }}
                    </div>

                </div>
                <div class="mt-3 dive">
                    {{ diving.description }}
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto mb-5 mt-5">
                        <div>
                            Nombre de places:   {{ diving.places }}
                        </div>
                        {% if  (diving.places - diving.placeResa)>0%}
                            <div class="mt-3 font-weight-bold" style="font-size:1.2em;">
                                Nombre de places disponible:  {{ diving.places - diving.placeResa }}
                            </div>
                        {% else %}
                            <div class="mt-3 text-warning">
                               {{ diving.placeResa-diving.places  }} réservation(s) a confirmer
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-auto mb-5 mt-5">
                        <a class="btn btn-info btn active mr-5 mt-2" href={{ path('reservation_div_members', {'id': diving.id}) }}>Liste des inscrits</a>
                        <a class="btn btn-primary btn mr-5 mt-2" href={{path('liste_palanquee', {'id': diving.id}) }}>Feuille de palanquée <img style="width:25px; height:25px;" src="/pictures/print2.png"></a>
                        {% if diving.placeResa == 0 %}
                        <a class="btn btn-warning btn mr-5 mt-2" href={{path('diving_edit', {'id': diving.id}) }}>Modifier</a>
                        {% endif %}
                        <a class="btn btn-danger btn  mt-2" onclick="return confirm(`Etes vous sur de vouloir supprimer le plongée n°: {{ diving.id }} ?`)" href="{{path('diving_delete', {'id': diving.id}) }}"><img style="width:25px; height:25px;" src="/pictures/bin.png"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
<div class="bandeau pt-2">
    <div class="col align-self-end  align-items-end row justify-content-md-center">
        <div class="row align-items-center">
            <div class="col-auto ">
                <p>Copyright  -   2019    -    Pierre BOUCHET</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
