{% extends 'base.html.twig' %}

{% block title %}Liste des plongées du Club de la Mer{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-auto mr-auto align-middle">

                <h4 class="mt-3 ">Bonjour {{app.user.pseudo}}</h4>
            </div>
            <div class="col-auto">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse align-middle" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link text-white " href="javascript:history.go(-1)">Retour</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white " href={{ path('member_reservation', {'id': app.user.id}) }}>Mon planning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white " href={{ path('message') }}>J'ai une question !</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link text-warning" href={{ path('admin_index') }}>Menu ADMINISTRATEUR</a>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="adminDropdown">
                                    <i class="fas fa-edit fa-2x"></i>Connexion</a>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminDropdown">
                                    <a href="{{ path('update_password') }}" class="dropdown-item" >Modifier mon mot de passe</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-auto mb-2">
                <img style="width:75px; height:75px;" src="/pictures/logodiving.gif">
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Lite des plongées</h2>
    </div>
    <div class="container " >
        {% for diving in diving %}
            <div class="container border mb-5 mt-5 ">
                <div class="row justify-content-between">
                    <div class="col-auto mb-3 mt-2">
                      Date:   {{ diving.date|date('d/m/Y') }}
                    </div>
                    <div class="col-auto mb-3 mt-2">
                        Plongée n° :  {{ diving.id }}
                    </div>
                    <div class="col-auto  mb-3 mt-2">
                      Lieu:   {{ diving.location }}
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto mb-2">
                        Niveau minimum:   {{ diving.levelMin }}
                    </div>
                    <div class="col-auto mb-2">
                        {% if diving.levelMin <= app.user.levelDive and (diving.places - diving.placeResa)>0 %}
                        <img style="width:20px; height:20px;" src="/pictures/vert.png">
                        {% else %}
                        <img style="width:20px; height:20px;" src="/pictures/rouge.png">
                         {% endif %}
                    </div>
                </div>
                <div class="mt-3 dive">
                    {{ diving.description }}
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto mb-5 mt-5">
                        <div>
                            Nombre de places:   {{ diving.places }}
                        </div>
                        {% if  (diving.places - diving.placeResa)>0%}
                            <div class="mt-3">
                                Nombre de places disponible:  {{ diving.places - diving.placeResa }}
                            </div>
                        {% else %}
                            <div class="mt-3 text-warning">
                                Pas de chance, Le bateau est plein !!! Une prochaine fois !
                            </div>
                         {% endif %}
                    </div>
                    <div class="col-auto mb-5 mt-5">
                        <a class="btn btn-primary btn active mt-2" href={{ path('reservation_div_members', {'id': diving.id}) }}>Liste des participants</a>
                        {% if diving.levelMin <= app.user.levelDive and (diving.places - diving.placeResa)>0%}
                        <a class="btn btn-primary btn active mt-2" href={{ path('reservation_create', {'id': diving.id}) }}> Je plonge !!!</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    <div class="container">
        <div class="col align-self-end  align-items-end row justify-content-md-center">
            <div class="row align-items-center">
                <div class="col-auto ">
                    <p>Copyright  -   2019    -    Pierre BOUCHET</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}