{% extends 'base.html.twig' %}

{% block title %}Réserver une plongée!{% endblock %}

{% block body %}
    <div class="container">
        <img style="width:75px; height:75px;" src="/pictures/divinglogo.jpg">
        <button type="button" class="btn btn-success" ><a href="javascript:history.go(-1)">Retour</a></button>
    </div>
    <div class="container">
        Reservation de la plongée : {{ diving.id }}
    </div>
    <div class="container">
        <div>
            {{ diving.location }}
        </div>
        <div>
            {{ diving.description }}
        </div>
    </div>
    <div class="container">
        {{ form_start(form) }}

        {{ form_widget(form) }}


        <button type="submit" class="btn btn-primary">Je plonge</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
