{% extends 'base.html.twig' %}

{% block title %}Liste des participants {% endblock %}

{% block body %}
   <div class="container text-secondary">
    <div class=" row">
        <div class="col">
            <div class="alert alert_light">
                <h2>Liste des participants</h2>
                <div class="container  mb-5 mt-5 pt-3">
                    {% for reservation in reservation %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        {% if counter <= reservation.places %}
                            <div class="container border border-secondary mb-2 font-weight-bold ">
                              <div class="row">
                                <div class="col-sm mt-2  mb-2">
                                    <p>{{ reservation.name }} {{ reservation.firstName }}</p>
                                </div>
                                <div class="col-sm mt-2  mb-2">
                                  <p>alias  "{{ reservation.pseudo }}"</p>
                                </div>
                                <div class="col-sm mt-2  mb-2">
                                    <p>niveau: {{ reservation.levelDive }}</p>
                                </div>
                                  {% if is_granted('ROLE_ADMIN') %}
                                      <div class="col-sm">
                                          <a class="btn btn-danger btn  mt-2  mb-2" onclick="return confirm(`Etes vous sur de vouloir supprimer la participation de : {{ reservation.pseudo }} ?`)" href="{{path('reservation_delete_Member', {'id': reservation.id}) }}"><img style="width:25px; height:25px;" src="/pictures/bin.png"></a>
                                      </div>
                                  {% endif %}
                              </div>
                            </div>
                        {% else %}
                            <div class="container border border-secondary mb-2 font-weight-bold bg-warning ">
                                <div class="row">
                                    <div class="col-sm mt-2  mb-2">
                                        <p>{{ reservation.name }} {{ reservation.firstName }}</p>
                                    </div>
                                    <div class="col-sm mt-2  mb-2">
                                        <p>alias  "{{ reservation.pseudo }}"</p>
                                    </div>
                                    <div class="col-sm mt-2  mb-2">
                                        <p>niveau: {{ reservation.levelDive }}</p>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="col-sm">
                                            <a class="btn btn-danger btn  mt-2  mb-2" onclick="return confirm(`Etes vous sur de vouloir supprimer la participation de : {{ reservation.pseudo }} ?`)" href="{{path('reservation_delete_Member', {'id': reservation.id}) }}"><img style="width:25px; height:25px;" src="/pictures/bin.png"></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
