{% extends 'base.html.twig' %}

{% block title %}Liste des participants {% endblock %}

{% block body %}
   <div class="container text-secondary">
    <div class=" row">
        <div class="col">
            <div class="alert alert_light">
                <h2>Liste des participants</h2>
                <div class="container  mb-5 mt-5 pt-3">
                    {% for reservation in reservation %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        {% if counter <= reservation.places %}
                            <div class="container border border-secondary mb-2 font-weight-bold ">
                              <div class="row">
                                <div class="col-sm">
                                    <p>{{ reservation.name }} {{ reservation.firstName }}</p>
                                </div>
                                <div class="col-sm">
                                  <p>alias  "{{ reservation.pseudo }}"</p>
                                </div>
                                <div class="col-sm">
                                    <p>niveau: {{ reservation.levelDive }}</p>
                                </div>
                              </div>
                            </div>
                        {% else %}
                            <div class="container border border-secondary mb-2 font-weight-bold bg-warning ">
                                <div class="row">
                                    <div class="col-sm">
                                        <p>{{ reservation.name }} {{ reservation.firstName }}</p>
                                    </div>
                                    <div class="col-sm">
                                        <p>alias  "{{ reservation.pseudo }}"</p>
                                    </div>
                                    <div class="col-sm">
                                        <p>niveau: {{ reservation.levelDive }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
